.div1 {
    display: inline-block;
    width: 80vw;
    max-width: 800px;
    min-width: 400px;

    height: 400px;
    background-color: bisque;
    font-size: 24px;
    text-align: center;
    margin: 36px;
}

p {
    /*margin: 200%;*/
    /*font-size: 36px;*/
    /*font-size: 200%;*/
    font-size: 1em;
    /*padding: 1em;*/
    padding: 1rem;
}
body{
    text-align: center;
}