body {
    margin: 0;
}
header {
    text-align: center;
}
.rings-container {
    position: relative;
    width: 380px;
    height: 160px;
    margin: 50px auto;
}

.ring {
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.blue   { border-color: #0085C7; }
.black  { border-color: #000000; }
.red    { border-color: #DF0024; }
.yellow { border-color: #F4C300; }
.green  { border-color: #009F3D; }

.blue {
    top: 0;
    left: 0;
    z-index: 10;
}
.black {
    top: 0;
    left: 100px;
    z-index: 30;
}
.red {
    top: 0;
    left: 200px;
    z-index: 50;
}

.yellow {
    top: 50px;
    left: 50px;
    z-index: 20;
}
.green {
    top: 50px;
    left: 150px;
    z-index: 40;
}